@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,500;8..144,600;8..144,700;8..144,800&family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pBlue-100: #E5F1FF;
  --pBlue-300: #377DFF;
  --pGreen-100: #EAFAF3;
  --pGreen-300: #2DCA8C;
  --pYellow-100: #FFF2D8;
  --pYellow-300: #FFBE3D;
  --pRed-100: #FFE3DE;
  --pRed-300: #FF715B;
  --pBlack-100: #AAB0B7;
  --pBlack-300: #58616A;
  --pBlack-600: #2b3d4e;
  --pBlack-700: #243443;
  --pGray-100: #FCFCFC;
  --pGray-200: #F7F7F9;
  --pGray-300: #F0F0F0;
}

* {
  font-family: 'Inter', 'Roboto', Arial;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus {
  outline: transparent;
  box-shadow: none;
}


html, body {
  min-width: 100vw;
}

#root {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
}

.input-form {
  border: 1px solid var(--pBlack-100);
  border-radius: 8px;
  width: 86%;
  padding-left: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 500;
  color: var(--pBlack-700);
}

.button-form {
  background: var(--pBlue-300);
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.375rem;
  width: 86%;
}

.text-max {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}